.img_container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .img_text_centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }